@using Domain.MyMoney;
@model JournalPayment
@{
    ViewBag.Title = "AddNewPayment";
}

<h2>AddNewPayment</h2>
@using (Html.BeginForm("AddNewPayment", "MyMoney", FormMethod.Post))
{
    <fieldset>
        <legend>Payment</legend> 
     
        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
        </div>
        
         <div class="editor-label">
            @Html.LabelFor(model => model.Currency)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Currency)
        </div>
        
                 <div class="editor-label">
            @Html.LabelFor(model => model.OperationTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OperationTypeId)
        </div>
        
        <p><input type="submit" value="Submit" /></p>
    </fieldset>
}    

